*{
    margin:0;
    padding:0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background:linear-gradient(rgba(0, 251, 255, 0.622),rgb(255, 255, 255));
    background-color:rgb(0, 0, 0);
    border-radius: 5px;
}
body{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(10, 6, 47);
    height: 100vh;
    width:100% ;
    justify-content: center;
    align-items: center;
    margin: auto;    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 10px 20%;
    background: rgba(4, 76, 78, 0.87);
    
    
}
.header ul li {
    display: inline-block;
    line-height:80px;
    margin:0 20px;
}
.nav-links ul li   a.active{
    color: rgb(203, 50, 50) ;
    font-weight: 600;
}
a.active,a:hover{
    transition: .5s;
}
.header ul li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
    text-transform:uppercase;
}
.header ul li a:hover{
    color: rgb(225, 4, 4);
}
#logo{
    height: 100px;
}
.container{
    
    height: 90%;
    width: 90%;
    margin-left: 20% ;
    border-radius: 20px;

}
.container{
    display: flex;
    justify-content: space-between;
    height:80%;
    width: 80%;
    margin: auto;
}
.container .texte{
    color: rgb(255, 255, 255);
    width: 40%;
    margin: 30px;
}
.container .texte h2{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
.container .texte p{
    font-size: 25px ;
    line-height: 25px;
    letter-spacing: 1px;
    font-family: sans-serif;
    padding: 60px 30px;
}

.container .image{
margin-top: 10%;
margin-right: 2%;
}

.container .image :hover{
    filter: drop-shadow(0 0 30px #ff0000);
}
.container .image img{
    width: 600px;
    border-radius: 100px;
}


@media (max-width:950px){
    .header{
        flex-direction: column;
    }
    .container{
        flex-direction: column;
    }
    .container .texte{
        width: 100%;
    }
    .container .texte p{
    font-size: 10px ;
    line-height: 25px;
    letter-spacing: 1px;
    font-family: sans-serif;
    padding: 0% 10px;
}
.container .image img{
    width: 350px;
    height: 200px;
    margin-left:25px;
}
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(203, 9, 9, 0.222);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(142, 32, 32, 0.268);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 5px;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}

@media (max-width: 950px) {

    .try {
    display:none;
    }
}
@media (min-width:949px){
    .desp{
        display:none;
    }
}
@media (max-width:500px){
    .sidebar{
        width: 100%;
    }
}
.title {
animation: titleAnimation 2s linear infinite;
}

.container .textee h2{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    animation: titleAni;
    animation-duration: 2s;
    animation-delay:0S;
}

@keyframes titleAni{
    from{
        transform: translateX(200px);
        opacity: 0;
        color: rgb(255, 14, 14);

    }
    to{
        transform: translateX(0);
        opacity: 1;
        color: aliceblue;
        }
    }
@keyframes titleAnimation {
    0% {
    transform: scale(1);
    }
    50% {
    transform: scale(1.2);
    color: red;
    }
    100% {
    transform: scale(1);
    }
}
.btn {
margin-right: 20px;
    float: right ;
    padding: 1rem 3rem;
    font-weight: 700;
    background: rgba(42, 129, 191, 0.715);
    color: #0082e6;
    border-radius: .6rem;
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
    border-top: 2px solid rgb(184, 167, 167);
    border-left: 2px solid rgb(203, 190, 190);
    transition-duration: 1s;
    transition-property: border-top, 
    border-left, 
    border-bottom,
    border-right,
    box-shadow;
}
.btn:hover {
    border-top: 2px solid #0082e6;
    border-left: 2px solid #0082e6;
    border-bottom: 2px solid rgb(55, 130, 165);
    border-right: 2px solid rgb(66, 120, 174);
    box-shadow: rgba(84, 120, 205, 0.4) 5px 5px, rgba(67, 183, 229, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px;
}
.container2{
    background: rgba(255,255,255,0.1);
    
    margin: 50px;
    height: 80%;
    width: 80%;
    margin-left: 10% ;
    border-radius: 20px;
}
.container2{
    display: flex;
    justify-content: space-between;
    height:80%;
    width: 80%;
    margin: auto;
}

.container2 .texte p{
    color: rgb(255, 255, 255);
    font-size: 25px ;
    line-height: 25px;
    letter-spacing: 1px;
    font-family: sans-serif;
    padding: 60px 30px;
    
}




    .container .image{
    margin-top: 10%;
    margin-right: 2%;
    }
    
    .container2 .image :hover{
        filter: drop-shadow(0 0 30px #ff0000);
    }
    .container2 .image img{
        width: 600px;
        border-radius: 100px;
    }
    .container2 .image img{
        width: 350px;
        height: 200px;
        margin-left:25px;
    }
    @media (max-width:950px){
        .header{
            flex-direction: column;
        }
        .container2{
            flex-direction: column;
        }
        .container2 .texte{
            width: 100%;
        }
        .container2 .texte p{
        font-size: 10px ;
        line-height: 25px;
        letter-spacing: 1px;
        font-family: sans-serif;
        padding: 0% 10px;
        }
    }



    